<!DOCTYPE html>
<html style="" class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths"><head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Charlotte's Portfolio </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by freehtml5.co">
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive">
	<meta name="author" content="freehtml5.co">

	<!--
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE
	DESIGNED & DEVELOPED by FreeHTML5.co

	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content="">
	<meta property="og:image" content="">
	<meta property="og:url" content="">
	<meta property="og:site_name" content="">
	<meta property="og:description" content="">
	<meta name="twitter:title" content="">
	<meta name="twitter:image" content="">
	<meta name="twitter:url" content="">
	<meta name="twitter:card" content="">

	<!-- <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
-->
	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="css/style.css">

	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	<script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/37/1/common.js"></script><script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/37/1/util.js"></script><script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/37/1/map.js"></script></head>

	<body style = "background-color: #cc99ff">
	<div class="fh5co-loader" style="display: none;"></div>

<!-- intro -->
	<div id="page">
	<header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner" style="background-image: url(images/bg.jpg)" height: 578px; background-position: 0px 0px; data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t js-fullheight" style="height: 578px;">
						<div class="display-tc js-fullheight animate-box fadeIn animated-fast" data-animate-effect="fadeIn" style="height: 578px;">
							<div class="profile-thumb" style="background: url(images/bg.jpg);"></div>
							<h1><span>Charlotte Forgey-Jahn </span></h1>
							<br/>
							<h3><span>Web Developer | Runner | Music Enthusiast </span></h3>
							<br/>
							<p>

								<a href="https://www.facebook.com/charlotte.forgeyjahn">
									<img src="images/fb-icon.png" alt = "fb" height: "10%" width: "10%"></img></a>
								<a href="https://www.linkedin.com/in/charlotte-forgey-jahn-494987b7/">
									<img src="images/linkedin-icon.png" alt ="linked" height: "10%" width: "10%"></img></a>
								<a href="https://github.com/cforgeyj">
									<img src="images/github-icon.png" alt = "github" height: "10%", width: "10%"></img></a>
							</p>
							<p>
								<img src = "images/me.jpg" alt = "mememe" height = "60%" width = "40%"> </img>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

<!-- about -->
	<div id="fh5co-about" class="animate-box">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Who am I?</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<ul class="info">
						<li><span class="first-block">Name:</span><span class="second-block"> Charlotte Forgey-Jahn</span></li>
						<li><span class="first-block">Phone:</span><span class="second-block"> + 1 925 223 7441</span></li>
						<li><span class="first-block">Email:</span><span class="second-block"> cforgeyj@ucsd.edu</span></li>
						<!--<li><span class="first-block">Website:</span><span class="second-block">www.yoursite.com</span></li>-->
						<li><span class="first-block">Location:</span><span class="second-block"> La Jolla, California</span></li>
					</ul>
				</div>
				<div class="col-md-8">
					<h2> Hi and welcome to my page! </h2>
         <br/> <br/>
				 <p> My name is Charlotte Forgey-Jahn. Last June I received my Bachelor of Science Degree in
					 Mathematics-Computer Science and with a Minor in Business.
        <br /> I graduated from UC San Diego in June, 2019. I will be going back to school in Fall 2020 to get my master's degree
		<br /> in Computational Science, Mathematics, and Engineering, with the intent to specialize in Data Science. 
		<br /> I love to learn and challenge myself. Outside of my academic pursuits, I love running, reading, and being outdoors. 
		I recently ran my second half marathon, and within the next year my goal is to complete a full marathon. My favorite author is Jodi
        Picoult, as I love all books about the law and court cases. </p>
				</div>
	</div>

<!-- resume -->
	<div id="fh5co-resume" class="fh5co-bg-color">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>My Resume</h2>
				</div>
			</div>
			<div class="row" style = "background-color: #42f4c5">
				<div class="col-md-12 col-md-offset-0">
							<h3> <center> <b> Work Experience </b> </center> </h3>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Test Automation Engineer</h3>
									<span class="company">LinkedIn, March 2020 - Current</span>
								</div>
								<div class="timeline-body">
									<ul>
										<font size="-1">
											<li> Write live tests to test the functionality and workflows of our product.
												</li>
											 <li>Use Javascript, Jest testing framework, and Puppeteer to automate testing of various flows on LinkedIn 
												 Recruiter and Talent Hub. Some test flows include: interview scheduling, moving candidates between 
												 pipeline stages, searching, and message sending.
											 </li>
										</font>
									</ul>
								</div>
							</div>

							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Software Engineer</h3>
									<span class="company">LinkedIn, Oct 2019 - March 2020</span>
								</div>
								<div class="timeline-body">
									<ul>
										<font size="-1">
											<li> Work on the Data Migration team for LinkedIn’s newest product - Talent Hub.
												</li>
											 <li>Use Python and NoSQL for the data migration of tens of thousands of users and job postings.
												 Use Java and Mockito testing Framework to develop and enhance Talent Hub’s features.</li>
										</font>
									</ul>
								</div>
							</div>

							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Front End Web Developer</h3>
									<span class="company">UCSD Psychology Department, Dec 2018 - September 2019</span>
								</div>
								<div class="timeline-body">
									<ul>
										<font size="-1">
											<li>Gather eye-witness research for the UCSD
												Psychology Department that will potentially help eliminate false incarcerations.
												</li>
											 <li>Use Firebase to maintain database and Node.js for our web framework.
												 JavaScript, CSS, HTML.</li>
										</font>
									</ul>
								</div>
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Starbucks Trainer & Barista </h3>
									<span class="company">UCSD Starbucks, May 2016 - Current</span>
								</div>
								<div class="timeline-body">
									<ul>
										<font size="-1">
											<li> Train new hires making sure they are comfortable and confident in the work environment. </li>
											<li> Work in an extremely fast-paced environment, constantly interacting with customers. </li>
										</font>
									</ul>
								</div>
							</div>
					</div>
				</div>
						<br/>
				<div class="row" style = "background-color: #41bef4">
							<h2> <center> <b> Education </b> </center> </h2>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title" style="margin-left: 3px">Bachelor's Degree</h3>
									<span class="company" style = "margin-left: 3px">UC San Diego - 2015 - 2019</span>
								</div>
								<div class="timeline-body" style = "margin-left: 3px">
									<p style="text-align: left">Recognized as a <a href="https://en.wikipedia.org/wiki/Public_Ivy">Public Ivy</a>, UC San
										 Diego is a highly regarded research institution ranked:
										<font size="-2"></font></p><ul style="text-align: left"><font size="-2">
											<li>5th best public university in the world by the Times Higher Education World University Rankings.</li>
											<li> Graduated in June 2019 with a Mathematics-Computer Science Bachelors Degree </li>
											<li> Business Minor </li>
											<li> 3.42 GPA </li>
											<li> 6 quarters of Provost Honors </li>
											<li> Member of Pi Beta Phi Fraternity for 4 years </li>
											<li> Member of the Leadership Nominating Commitee of Pi Beta Phi (2 years) </li>
											<li> Treasurer of the Panhellenic Council </li>
											<li> Treasurer of She's The First (2 years) </li>
											<li> Homeless Charter Member (2 years) </li>
										</font></ul>
										<p></p>
								</div>
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title" style = "margin-left: 3px">High School</h3>
									<span class="company" style= "margin-left: 3px">California High School, San Ramnon CA - 2011 - 2015
									<br/> San Ramon Valley Unified School District (SRVUSD)</span>
								</div>
								<div class="timeline-body" style = "margin-left: 3px">
									<font size="-3"><ul>
										<li> Graduated in 2015 with a 4.25 GPA </li>
										<li> Associated Student Body Treasurer </li>
										<li> 3 years in Caliornia High School's Leadership program </li>
										<li> 3 years of varsity soccer </li>
										<li> 2 years of varsity cross country </li>
										<li> UNICEF Treasurer </li>
									</ul></font>
								</div>
							</div>
						</li>
				</div>
			</div>
		</div>
	</div>

<!-- projects I have completed -->
  <br/>
	<div id="fh5co-projects" class="animate-box">
		<div class="container" style ="background-color: #dba0cd;">
			<div class="col-md-12 col-md-offset-0">

				<div class="row">
					<div class="fh5co-heading">
						<h2> <center> My Projects</center></h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 text-center" >
								<h3>BENEFIT - AthenaHacks 2018</h3>
								<a href="https://github.com/cforgeyj/BeneFIT"> <img src = "images/benefit.jpg"> </img> </a>

								<ul>
									<li> Won an award for Best Mobile App, sponsored by facebook </li>
									<li> Developed BeneFIT using SWIFT, OrgHunter API for list of charities, Mapkit and CoreLocation for map
										feature, Sketch for Benefit logo, and Firebase for user authentication and database.</li>
									<li> Users track miles and select charities to donate to for each mile run/walked. </li>
								</ul>
					</div>
					<div class="col-md-4 text-center">
								<h3>LRN - 2018</h3>
								<a href="https://github.com/cforgeyj/lrn" font-color = "blue"> LRN </a>

								<ul>
									<li> User Interface Specialist for our web application, LRN, which allows students seeking help
										in a given subject to search and filter for tutors that fit their needs. </li>
									<li> Developed LRN using SQLite for database, Buffalo for web framework, and Go for the backend.
											Used bootstrap to create pages that were responsive and user focused. </li>
								</ul>
					</div>
						<div class="col-md-4 text-center">

									<h3>Ide8tion Web Component Library</h3>
									<a href="https://github.com/cforgeyj/cse112-sp19-team8"> <img src = "images/ide8tion.JPG"> </img> </a>

									<ul>
										<li> Worked as QA for our team Ide8ation </li>
										<li> Created a Web Component Library using JavaScript/HTML/CSS. Used Node.js for web framework, and
										used TravisCI, Mocha, Karma, Chai, and Percy for testing.</li>
									</ul>
								</div>
						</div>
					</div>
				</div>
			</div>

<!-- skills -->
<br/>
	<div id="fh5co-skills" class="animate-box">
		<div class="container" style = "background-color: #315ded">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Skills</h2>
				</div>
			</div>
			<div class="row row-pb-md">
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<p> <b> Java </b> </p>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<p> <b> Python </b> </p>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<p> <b> HTML5 </b> </p>
				</div>

				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<p> <b> CSS </b> </p>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<p> <b> JavaScript </b> </p>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<p> <b> Linux/UNIX Systems </b> </p>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<p> <b> Firebase </b> </p>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<p> <b> C/C++ </b> </p>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<p> <b> Node.js </b> </p>
				</div>
		</div>
	</div>

	<div id="fh5co-started" class="fh5co-bg-dark">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Let's Work Together!</h2>
					<p><a href="/Charlotte\ Resume.docx" download="CharlotteResume.pdf" class="btn btn-default btn-lg">Download my Resume</a></p><p>
				</p></div>
			</div>
		</div>
	</div>

	<div id="map" class="fh5co-map"><div style="height: 100%; width: 100%;"></div></div>



	</div>

	<div id="fh5co-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<font size="-2">
						<p>© 2017 Free HTML5 Template. All Rights Reserved. <br>Designed by <a href="http://freehtml5.co" target="_blank">FreeHTML5.co</a> Demo Images: <a href="http://unsplash.com" target="_blank">Unsplash</a></p>
					</font>
				</div>
			</div>
		</div>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
	</div>

	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- Easy PieChart -->
	<script src="js/jquery.easypiechart.min.js"></script>
	<!-- Google Map -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&amp;sensor=false"></script>
	<script src="js/google_map.js"></script>

	<!-- Main -->
	<script src="js/main.js"></script>



</body></html>
